<!-- The print logic of text or text + images is specific to HTML content. If we are displaying a PDF hide our print button in favor of the button of the pdf viewer. -->
<button
  *ngIf="isDefaultPrinting$ | async"
  class="btn icon-print"
  [class.d-none]="(assetsFacade.base64Pdf$ | async) || (assetsFacade.leafbase64Pdf$ | async)"
  [disabled]="(assetsFacade.activeDocumentId$ | async) === undefined"
  [ngbPopover]="printPopover"
  placement="bottom-right"
  popoverClass="article-toolbox-popover"
></button>
<ng-template #printPopover>
  <button class="btn btn-link d-block" (click)="print(true)">Print text only</button>
  <button class="btn btn-link d-block" (click)="print(false)">Print text and images</button>
</ng-template>

<button
  *ngIf="assetsFacade.isMaintenanceScheduleTab$ | async"
  class="btn icon-print"
  [disabled]="!(pmsstPrintEnable$ | async)"
  (click)="printMaintenanceSchedules()"
></button>

<button
  *ngIf="assetsFacade.labor$ | async"
  class="btn icon-print"
  [disabled]="(assetsFacade.activeDocumentId$ | async) === undefined"
  (click)="printLaborDetails()"
></button>

<button
  *ngIf="userSettings.isCcc$ | async"
  class="btn icon-bookmark"
  [disabled]="(assetsFacade.activeDocumentId$ | async) === undefined || (isSavingBookmark$ | async)"
  [class.rotating]="isSavingBookmark$ | async"
  (click)="bookmark()"
></button>

<button
  *ngIf="!(assetsFacade.isMaintenanceScheduleTab$ | async)"
  class="btn icon-info"
  [disabled]="(assetsFacade.activeDocumentId$ | async) === undefined"
  [ngbPopover]="infoPopover"
  autoClose="outside"
  placement="bottom-right"
  popoverClass="article-toolbox-popover"
></button>
<ng-template #infoPopover>
  <div class="d-flex">
    Document ID:
    <div id="documentIdText">{{ assetsFacade.activeDocumentId$ | async }}</div>
  </div>
  <div *ngIf="assetsFacade.activeCreatedDate$ | async as activeCreatedDate">Created Date: {{ activeCreatedDate | date: 'M/d/yyyy' }}</div>
  <div *ngIf="assetsFacade.activePublishedDate$ | async as activePublishedDate">Published Date: {{ activePublishedDate | date: 'M/d/yyyy' }}</div>
  <div *ngIf="assetsFacade.activeContentSilos$ | async as contentSilos">Content Silo: {{ contentSilos }}</div>
  <div *ngIf="assetsFacade.activeSourceSilos$ | async as sourceSilos">Source Silo: {{ sourceSilos }}</div>
</ng-template>
