<div id="sections" class="list-group list-group-horizontal pl-5 overflow-auto">
  <ng-container *ngIf="searchResultsFacade.filterTabCounts$ | async as filterTabCounts">
    <a
      *ngFor="let tab of searchResultsFacade.filterTabsAndTheirFullBuckets$ | async"
      [routerLink]="['/docs', tab.filterTab]"
      [queryParams]="{ articleIdTrail: tab.articleTrailId }"
      [queryParamsHandling]="'merge'"
      class="filter-tab list-group-item d-flex justify-content-between align-items-center"
      [class.active]="isLinkActive(tab.filterTab)"
    >
      {{ tab.filterTab }}
      <span [class.d-none]="searchResultsFacade.loading$ | async" class="filter-tab-count badge badge-primary badge-pill ml-1">
        {{ filterTabCounts[tab.filterTab] || 0 }}
      </span>
    </a>
  </ng-container>
</div>
