<div class="page-container">
  <form name="searchMaintenanceSchedulesForm" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div style="margin-left: 10px; margin-top: 30px;">
      <div class="row">
        <div class="col-auto">
          <input
            class="form-control"
            type="number"
            id="interval"
            name="interval"
            [(ngModel)]="interval"
            #intervalNgModel="ngModel"
            [ngClass]="{ 'is-invalid': hasErrors }"
            placeholder="Enter Interval..."
          />
          <div *ngIf="hasErrors" class="invalid-feedback">
            <div *ngIf="formErrors.interval.required">Interval is required</div>
            <div *ngIf="formErrors.interval.max">Months cannot exceed 240</div>
            <div *ngIf="formErrors.interval.min">Interval should be greater than or equal to 0</div>
          </div>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-auto my-2">
          <div class="form-check form-check-inline">
            <input
              type="radio"
              class="form-check-input"
              id="Miles"
              name="intervalType"
              value="Miles"
              [(ngModel)]="filterBy"
              [checked]="filterBy === 'Miles'"
            />
            <label class="form-check-label" for="Miles">Miles</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              type="radio"
              class="form-check-input"
              id="Kilometers"
              name="intervalType"
              value="Kilometers"
              [(ngModel)]="filterBy"
              [checked]="filterBy === 'Kilometers'"
            />
            <label class="form-check-label" for="Kilometers">Kilometers</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              type="radio"
              class="form-check-input"
              id="Months"
              name="intervalType"
              value="Months"
              [(ngModel)]="filterBy"
              [checked]="filterBy === 'Months'"
            />
            <label class="form-check-label" for="Months">Months</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              type="radio"
              class="form-check-input"
              id="Indicator"
              name="intervalType"
              value="Indicator"
              [(ngModel)]="filterBy"
              [checked]="filterBy === 'Indicator'"
            />
            <label class="form-check-label" for="Indicator">Indicator</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-8">
          <div class="form-check form-check-inline my-1">
            <input
              type="radio"
              class="form-check-input"
              id="Normal"
              name="severity"
              value="Normal"
              [(ngModel)]="severity"
              [checked]="severity === 'Normal'"
            />
            <label class="form-check-label" for="Normal">Normal Service</label>
          </div>
          <div class="form-check form-check-inline my-2">
            <input
              type="radio"
              class="form-check-input"
              id="Severe"
              name="severity"
              value="Severe"
              [(ngModel)]="severity"
              [checked]="severity === 'Severe'"
            />
            <label class="form-check-label" for="Severe">Severe Service</label>
          </div>
        </div>
        <div class="col-4 my-2">
          <div class="float-right" style="padding-right: 15px;" *ngIf="searchCompleted && maintenanceSchedulesFound">
            <a id="expandAllLink" [routerLink]="" queryParamsHandling="preserve" (click)="expandCollapseAll()">{{ expandOrCollapseAllLabel }}</a>
          </div>
        </div>
      </div>
    </div>
  </form>

  <h5 *ngIf="maintenanceSchedulesFacade.pmsstError$| async as errorMessage" class="no-article-error text-center mx-2 my-5">
    {{ errorMessage['status'] === 404 ? 'Your account has not licensed access to maintenance data.' : 'Unable to display the requested document.' }}
  </h5>

  <div class="results" id = 'pmsstContent'>
    <div *ngIf="searchCompleted && !maintenanceSchedulesFound" class="no-result">
      <span>No results found.</span>
    </div>
    <div class="row" *ngIf="searchCompleted && frequenciesCount > 0">
      <div class="col-12">
        <ngb-accordion
          #frequenciesAccordion
          [closeOthers]="frequencyPanelCloseOthers"
          [activeIds]="frequenciesPanelActiveIds"
          class="frequency-results"
          (panelChange)="beforePanelChange($event,'frequency')"
        >
          <ng-container *ngFor="let frequency of maintenanceSchedulesByFrequency | keyvalue; let i = index">
            <ngb-panel id="{{ frequencyPanelIdPrefix }}{{ i }}" *ngIf="frequency.value[0]?.maintenanceSchedules?.length">
              <ng-template ngbPanelTitle>
                <div class="d-flex flex-row justify-content-between">
                  <div class="d-flex">{{ frequency.value[0].maintenanceSchedules![0].frequencyDescription }}</div>
                  <div class="d-flex">
                    <i
                      [ngClass]="frequenciesAccordion.isExpanded(frequencyPanelIdPrefix + i) ? 'icon-arrow-down-thin' : 'icon-arrow-forward-thin'"
                    ></i>
                  </div>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <table class="frequency-results borderless applications">
                  <tr *ngFor="let application of frequency.value" class="applicationRow">
                    <td>
                      <p class="literalName">{{ application.taxonomy?.literalName }}</p>
                      <table class="borderless">
                        <ng-container *ngFor="let attributeMapping of application.attributeMappings">
                          <tr *ngIf="attributeMapping.type === 'TR'">
                            <td class="transmission">
                              {{ application.transmissionDetails?.transmissionSpeeds }} Speed
                              {{ application.transmissionDetails?.transmissionControlTypeName }}
                            </td>
                          </tr>
                        </ng-container>
                        <ng-container *ngIf="application.position">
                          <tr>
                            <td class="position">
                              <b>Position :&nbsp;</b>
                              <span>{{ application.position.name }}</span>
                            </td>
                          </tr>
                        </ng-container>
                        <ng-container *ngIf="application.maintenanceSchedules">
                          <ng-container *ngIf="application.maintenanceSchedules[0].notes">
                            <tr *ngIf="getNotes(application.maintenanceSchedules[0].notes)">
                              <td class="notes">
                                <b>Notes :&nbsp;</b>
                                <span [innerHTML]="getNotes(application.maintenanceSchedules[0].notes)"></span>
                              </td>
                            </tr>
                          </ng-container>
                        </ng-container>
                      </table>
                    </td>
                  </tr>
                </table>
              </ng-template>
            </ngb-panel>
          </ng-container>
        </ngb-accordion>
      </div>
    </div>

    <div class="row" *ngIf="searchCompleted && intervalsCount > 0">
      <div class="col-12">
        <ng-container *ngIf="maintenanceSchedulesFacade.maintenanceSchedulesByInterval$ | async as response">
          <ng-container *ngIf="response.length > 0 && response[0].intervals!.length > 0">
            <ngb-accordion (panelChange)="beforePanelChange($event,'interval')" #intevalsAccordion [closeOthers]="intervalPanelCloseOthers" [activeIds]="intervalsPanelActiveIds" class="interval-results">
              <ngb-panel id="{{ intervalPanelIdPrefix }}{{ i }}" *ngFor="let item of response[0].intervals; let i = index">
                <ng-template ngbPanelTitle>
                  <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex">{{ item.interval | number: '1.0-0' }} {{ selectedIntervalType }}</div>
                    <div class="d-flex">
                      <i [ngClass]="intevalsAccordion.isExpanded(intervalPanelIdPrefix + i) ? 'icon-arrow-down-thin' : 'icon-arrow-forward-thin'"></i>
                    </div>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <table *ngIf="item.applications" class="borderless applications">
                    <ng-container *ngFor="let intervalApp of item.applications">
                      <ng-container *ngFor="let app of response[0].applications">
                        <tr *ngIf="intervalApp.applicationID === app.applicationId" class="applicationRow">
                          <td>
                            <table class="borderless">
                              <tr>
                                <td class="literalName">{{ app.taxonomy?.literalName }}</td>
                              </tr>
                              <ng-container *ngIf="app.maintenanceSchedules">
                                <ng-container *ngIf="app.maintenanceSchedules[0].indicator">
                                  <tr>
                                    <td class="notes">
                                      <b>Indicator :&nbsp;</b>
                                      <span>{{ app.maintenanceSchedules[0].indicator }}</span>
                                    </td>
                                  </tr>
                                </ng-container>
                              </ng-container>
                              <ng-container *ngFor="let attributeMapping of app.attributeMappings">
                                <tr *ngIf="attributeMapping.type === 'TR'">
                                  <td class="transmission">
                                    {{ app.transmissionDetails?.transmissionSpeeds }} Speed
                                    {{ app.transmissionDetails?.transmissionControlTypeName }}
                                  </td>
                                </tr>
                              </ng-container>
                              <ng-container *ngIf="app.position">
                                <tr>
                                  <td class="position">
                                    <b>Position :&nbsp;</b>
                                    <span>{{ app.position.name }}</span>
                                  </td>
                                </tr>
                              </ng-container>
                              <ng-container *ngIf="app.maintenanceSchedules">
                                <ng-container *ngIf="app.maintenanceSchedules[0].notes">
                                  <tr *ngIf="getNotes(app.maintenanceSchedules[0].notes)">
                                    <td class="notes">
                                      <b>Notes :&nbsp;</b>
                                      <span [innerHTML]="getNotes(app.maintenanceSchedules[0].notes)"></span>
                                    </td>
                                  </tr>
                                </ng-container>
                              </ng-container>
                            </table>
                          </td>
                        </tr>
                      </ng-container>
                    </ng-container>
                  </table>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </ng-container>
        </ng-container>
      </div>
    </div>

    <div class="row" *ngIf="searchCompleted && indicatorsCount > 0" [style]="indicatorsCount > 0 ? 'padding-bottom:20px' : null">
      <div class="col-12">
        <ng-container *ngIf="maintenanceSchedulesFacade.maintenanceSchedulesByIndicator$ | async as response">
          <ng-container *ngIf="response.length > 0">
            <ngb-accordion
              #indicatorsAccordion
              [closeOthers]="indicatorPanelCloseOthers"
              [activeIds]="indicatorsPanelActiveIds"
              class="indicator-results"
              (panelChange)="beforePanelChange($event,'indicator')"
            >
              <ngb-panel id="{{ indicatorPanelIdPrefix }}{{ i }}" *ngFor="let indicator of response; let i = index">
                <ng-template ngbPanelTitle>
                  <div class="d-flex flex-row justify-content-between">
                    <div class="d-flex">{{ indicator.name }}</div>
                    <div class="d-flex">
                      <i
                        [ngClass]="indicatorsAccordion.isExpanded(indicatorPanelIdPrefix + i) ? 'icon-arrow-down-thin' : 'icon-arrow-forward-thin'"
                      ></i>
                    </div>
                    <!-- class="icon-arrow-forward-thin" -->
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <table *ngIf="indicator.applications" class="borderless applications">
                    <ng-container *ngFor="let application of indicator.applications">
                      <tr class="applicationRow">
                        <td>
                          <p class="literalName">{{ application.taxonomy?.literalName }}</p>
                          <table class="borderless">
                            <ng-container *ngFor="let attributeMapping of application.attributeMappings">
                              <tr *ngIf="attributeMapping.type === 'TR'">
                                <td class="transmission">
                                  {{ application.transmissionDetails?.transmissionSpeeds }} Speed
                                  {{ application.transmissionDetails?.transmissionControlTypeName }}
                                </td>
                              </tr>
                            </ng-container>
                            <ng-container *ngIf="application.position">
                              <tr>
                                <td class="position">
                                  <b>Position :&nbsp;</b>
                                  <span>{{ application.position.name }}</span>
                                </td>
                              </tr>
                            </ng-container>
                            <ng-container *ngIf="application.maintenanceSchedules">
                              <ng-container *ngIf="application.maintenanceSchedules[0].notes">
                                <tr *ngIf="getNotes(application.maintenanceSchedules[0].notes)">
                                  <td class="notes">
                                    <b>Notes :&nbsp;</b>
                                    <span [innerHTML]="getNotes(application.maintenanceSchedules[0].notes)"></span>
                                  </td>
                                </tr>
                              </ng-container>
                            </ng-container>
                          </table>
                        </td>
                      </tr>
                    </ng-container>
                  </table>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
