<div *ngIf="showModal">
  <div class="modal-backdrop fade show" (click)="close()"></div>
  <div tabindex="-1" aria-modal="true" class="modal modal-fullscreen fade show d-block">
    <div role="document" class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body p-0" id="errorModalBody">
          <div class="cover-container">
            <div class="cover">
              <div class="error-box row">
                <div class="column-1 error-box-text">
                  <h1>
                    Restricted Vehicle
                  </h1>
                  <p class="lead">{{ accessMessage }}</p>
                  <button id="errorModalClose" class="btn btn-primary" (click)="close()">OK</button>
                </div>
                <div class="column-2">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="115" height="115" viewBox="0 0 123 123">
                    <defs>
                      <style>
                        .cls-1 {
                          fill-rule: evenodd;
                          fill: url(#linear-gradient);
                        }

                        .cls-2 {
                          font-size: 14px;
                          fill: #fff;
                          text-anchor: middle;
                          font-family: 'Baskerville Old Face';
                        }
                      </style>
                      <linearGradient id="linear-gradient" x1="875.071" y1="440" x2="951.929" y2="317" gradientUnits="userSpaceOnUse">
                        <stop offset="0" stop-color="#c72f26"></stop>
                        <stop offset="1" stop-color="#f00000"></stop>
                      </linearGradient>
                    </defs>
                    <path
                      id="Polygon_1"
                      data-name="Polygon 1"
                      class="cls-1"
                      d="M852.039,352.981L888.085,317l50.933,0.043L975,353.085l-0.043,50.933L938.915,440l-50.934-.043L852,403.915Z"
                      transform="translate(-852 -317)"
                    ></path>
                    <text id="_" data-name="!" class="cls-2" transform="translate(61.5 108.01) scale(10.173)">!</text>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
