<div class="row align-items-center h-100">
  <div class="d-none d-md-block col-6 text-center">
    <img class="w-100" src="images/vehicle-select.svg" />
    <h3>Please Select A Vehicle To Continue</h3>
  </div>

  <div class="col-md-6 px-4 justify-items-center">
    <label for="yearSelector" class="sr-only">Select Vehicle Year</label>
    <select
      id="yearSelector"
      class="form-control form-control-lg my-4"
      [disabled]="!(years$ | async)?.length"
      [ngModel]="year$ | async"
      (ngModelChange)="setYear($event)"
    >
      <option disabled hidden [ngValue]="undefined">Select Vehicle Year</option>
      <option *ngFor="let year of years$ | async" [ngValue]="year">{{ year }}</option>
    </select>

    <label for="makeSelector" class="sr-only">Select Vehicle Make</label>
    <select
      id="makeSelector"
      class="form-control form-control-lg my-4"
      [disabled]="!(makes$ | async)?.length"
      [ngModel]="make$ | async"
      (ngModelChange)="setMake($event)"
    >
      <option disabled hidden [ngValue]="undefined">Select Vehicle Make</option>
      <option *ngFor="let make of makes$ | async" [ngValue]="make">{{ make }}</option>
    </select>

    <label for="modelSelector" class="sr-only">Select Vehicle Model</label>
    <select
      id="modelSelector"
      class="form-control form-control-lg my-4"
      [disabled]="!(models$ | async)?.length"
      [ngModel]="model"
      (ngModelChange)="setModel($event)"
    >
      <option disabled hidden [ngValue]="undefined">Select Vehicle Model</option>
      <option *ngFor="let model of models$ | async" [ngValue]="model">{{ model.model }}</option>
    </select>

    <label for="engineSelector" class="sr-only" *ngIf="hasEngines()">Select Vehicle Engine</label>
    <select
      id="engineSelector"
      class="form-control form-control-lg my-4"
      [disabled]="!engines?.length"
      [ngModel]="engine"
      (ngModelChange)="setEngine($event)"
      *ngIf="hasEngines()"
    >
      <option disabled hidden [ngValue]="undefined">Select Vehicle Engine</option>
      <option *ngFor="let engine of engines" [ngValue]="engine">{{ engine.name }}</option>
    </select>
    <div *ngIf="(userSettingsService.ymmeVinSearchMode$ | async) === 'Enabled'">
      <h4 class="text-center">OR</h4>
      <div class="wrapper">
        <div class="one-row">
          <label for="vinSearch" class="sr-only">Enter VIN</label>
          <input
            [(ngModel)]="vin"
            name="vinSearch"
            class="form-control"
            (ngModelChange)="clearErrorMsg()"
            id="vinSearchTxt"
            placeholder="Enter VIN (Min. of 10 characters)"
            type="text"
            maxlength="17"
          />
          <button
            class="btn btn-primary"
            type="submit"
            id="vinSearchBtn"
            [ngClass]="{ greyedout: vin.length < 10 }"
            [disabled]="vin.length < 10"
            (click)="findVehicleWithVIN(vin)"
          >
            OK
          </button>
        </div>
        <mtr-horizontal-circles-loader *ngIf="isAwaitingApiResponse"></mtr-horizontal-circles-loader>
        <p *ngIf="isInvalidVin" class="text-danger">Unable to look up vehicle with the supplied VIN.</p>
        <p *ngIf="unAuthorizedVinError" class="text-danger">{{ unAuthorizedVinError }}</p>
      </div>
    </div>
    <div *ngIf="(vehicleSelectionFacade.hasVehicleSelected$ | async) && (userSettingsService.recentVehiclesMode$ | async) === 'Enabled'">
      <h4 class="text-center">OR</h4>
      <label for="recentVehicle" class="sr-only">Recent Vehicles</label>
      <select id="recentVehicle" class="form-control form-control-lg my-4" [ngModel]="recentVehicle" (ngModelChange)="navigateToVehicle($event)">
        <option disabled hidden [ngValue]="undefined">Select Recent Vehicle</option>
        <option *ngFor="let vehicle of vehicleSelectionFacade.getSelectedVehicles()" [ngValue]="vehicle">
          {{ vehicle.vehicleName + '&nbsp;&nbsp;&nbsp;' }}
        </option>
      </select>
    </div>
  </div>
</div>
