<div id="menu">
  <div
    class="icon-menu"
    type="button"
    [ngbPopover]="menuItems"
    autoClose="true"
    placement="bottom-right"
    container="body"
    popoverClass="borderless-popover"
  ></div>
</div>
<ng-template #menuItems>
  <ul>
    <ng-container *ngIf="(userSettingsService.oemLicenseAgreement$ | async) === 'Enabled'">
      <li (click)="openOEMAgreement()">
        <a id="oemLicenseMenu">
          <span class="btn icon-document"></span>
          OEM License Agreement
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="(userSettingsService.feedbackMode$ | async) === 'Enabled'">
      <li (click)="openFeedback()">
        <a id="feedbackMenu">
          <span class="btn icon-text"></span>
          {{ userSettingsService.feedbackLabel$ | async }}
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="(userSettingsService.loginType$ | async) === 'MotorLogin'">
      <li (click)="logout()">
        <a id="logOutMenu">
          <span class="btn icon-logout"></span>
          Logout
        </a>
      </li>
    </ng-container>
    <ng-container *ngIf="userSettingsService.enableApiUserLogout$ | async">
      <li (click)="logoutApiUser()">
        <a id="logOutMenu">
          <span class="btn icon-logout"></span>
          {{ userSettingsService.apiUserLogoutLabel$ | async }}
        </a>
      </li>
    </ng-container>
  </ul>
</ng-template>

<ng-template #oemlicensecontent let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="closeOEMModal()">
      <span>&times;</span>
    </button>
  </div>
  <div class="modal-body" ngbAutofocus>
    <iframe src="https://www.motor.com/oem-compliance-requirements/" frameborder="0" style="border: 0;"></iframe>
  </div>
</ng-template>
<div id="modal-feedback" *ngIf="showFeedbackModal | async">
  <div class="modal-backdrop fade show" (click)="closeFeedback()"></div>
  <div tabindex="-1" aria-modal="true" class="modal modal-fullscreen fade show d-block">
    <div role="document" class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <button id="articleModalX" type="button" class="close" (click)="closeFeedback()">&times;</button>
        </div>
        <div class="modal-body p-0" id="feedbackModalBody">
          <h4 class="document-header">
            <span style="margin-left: 20px;">{{ feedbackFormTitle }}</span>
          </h4>
          <form [formGroup]="feedbackForm!" (ngSubmit)="saveFeedback()">
            <div class="mb-3 row" *ngIf="isVehicleEnabled">
              <label class="col-form-label col-sm-4 right-align">Vehicle</label>
              <span class="col-sm-6" style="margin-top: 8px;">{{ selectedVehicle }}</span>
            </div>
            <div class="mb-3 row" *ngIf="userId !== '' && isUserIdEnabled">
              <label class="col-form-label col-sm-4 right-align">User ID</label>
              <span class="col-sm-6" style="margin-top: 8px;">{{ userId }}</span>
            </div>
            <div *ngFor="let field of feedbackFormJSON">
              <div *ngIf="!field.hidden && field.isEnabled" class="mb-3 row">
                <label [class]="field.labelClass" *ngIf="!field.hidden">
                  {{ field.label }}
                  <span *ngIf="field.required" style="color: red;">*</span>
                </label>

                <div [class]="field.fieldClass" *ngIf="!field.hidden">
                  <ng-container [ngSwitch]="field.type">
                    <input
                      *ngSwitchCase="'text'"
                      class="form-control"
                      [type]="field.type"
                      [maxlength]="field.maxlength"
                      [formControlName]="field.name"
                      [placeholder]="field.placeholder"
                      [ngClass]="{ 'is-invalid': field.required && feedbackForm?.get(field.name)?.invalid && feedbackForm?.get(field.name)?.touched }"
                    />
                    <input
                      *ngSwitchCase="'email'"
                      class="form-control"
                      [type]="field.type"
                      [maxlength]="field.maxlength"
                      [formControlName]="field.name"
                      [placeholder]="field.placeholder"
                      [ngClass]="{ 'is-invalid': field.required && feedbackForm?.get(field.name)?.invalid && feedbackForm?.get(field.name)?.touched }"
                    />
                    <input
                      *ngSwitchCase="'number'"
                      class="form-control"
                      [type]="field.type"
                      [maxlength]="field.maxlength"
                      [formControlName]="field.name"
                      [placeholder]="field.placeholder"
                      [ngClass]="{ 'is-invalid': field.required && feedbackForm?.get(field.name)?.invalid && feedbackForm?.get(field.name)?.touched }"
                    />
                    <input
                      *ngSwitchCase="'checkbox'"
                      class="form-control"
                      [type]="field.type"
                      [formControlName]="field.name"
                      [placeholder]="field.placeholder"
                      (change)="onCheckboxChange($event)"
                      style="height: calc(0.75em + 0.5rem + 2px);"
                      [ngClass]="{ 'is-invalid': field.required && feedbackForm?.get(field.name)?.invalid && feedbackForm?.get(field.name)?.touched }"
                    />
                    <div *ngSwitchCase="'textarea'">
                      <span class="helper-text">(Maximum 500 characters allowed for Feedback)</span>
                      <br />
                      <textarea
                        class="form-control"
                        style="height: 100px;"
                        [maxlength]="field.maxlength"
                        [formControlName]="field.name"
                        [placeholder]="field.placeholder"
                        [ngClass]="{
                          'is-invalid': field.required && feedbackForm?.get(field.name)?.invalid && feedbackForm?.get(field.name)?.touched
                        }"
                      ></textarea>
                    </div>

                    <select
                      *ngSwitchCase="'dropdown'"
                      class="form-control"
                      [formControlName]="field.name"
                      (change)="onDropdownChange($event)"
                      [ngClass]="{ 'is-invalid': field.required && feedbackForm?.get(field.name)?.invalid && feedbackForm?.get(field.name)?.touched }"
                    >
                      <option disabled>Select</option>
                      <option *ngFor="let option of field.options" [value]="option">
                        {{ option }}
                      </option>
                    </select>
                    <select *ngSwitchCase="'childdropdown'" class="form-control" [formControlName]="field.name">
                      <option disabled>Select</option>
                      <option *ngFor="let item of buckets$ | async as buckets" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                  </ng-container>
                </div>
              </div>
            </div>
            <div style="border-bottom: 1px solid var(--gray-light);"></div>
            <div class="modal-footer" class="right-align">
              <button type="submit" class="btn btn-primary" [disabled]="!feedbackForm?.valid">Submit</button>
              <button id="articleModalClose" class="btn btn-secondary" (click)="closeFeedback()" style="margin: 10px 20px 10px 15px;">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-confirm-feedback" class="modal-confirm" *ngIf="showConfirmFeedbackModal | async">
  <div class="modal-backdrop fade show" (click)="closeFeedbackConfirm()"></div>
  <div tabindex="-1" aria-modal="true" class="modal fade show d-block">
    <div role="document" class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-body p-0" id="confirmFeedbakModalBody">   
          <h4 class="document-header">
            <span style="margin-left: 20px;">{{ feedbackConfirmModalTitle }}</span>
          </h4>
          <div class="align-center pb-3" style="margin-top: 20px;">Your Feedback has been sent. Thank you!</div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary" (click)="closeFeedbackConfirm()">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
