<ng-container *ngIf="userSettingsService.userSettingsPrintHeader$ | async as userSettingsPrintHeader">
  <div class="document-print-header" id="print-header-banner" 
    *ngIf="userSettingsPrintHeader.printEnableHeader === 'Yes' && userSettingsPrintHeader.printBannerUrl"
    [ngStyle]="{
     backgroundColor: userSettingsPrintHeader.printBannerColor
    }">
  <img [src]="userSettingsPrintHeader.printBannerUrl" alt="Banner Image">
</div>
<div class="document-print-header" id="print-header-details" 
  *ngIf="userSettingsPrintHeader.printDisplayVehicleDetails === 'Yes'">
    <div><b>Vehicle: </b>{{modelSelector$ | async}}</div>
    <div *ngIf="vehicleSelectionFacade.vehicleVin$ | async as vin"><b>VIN: </b>{{vin}}</div>
</div>
</ng-container>
<h2 class="document-header">{{ labor.mainOperation.title }}</h2>
<table id="mainOperation" width="100%" class="labor">
  <tr>
    <th class="align-left column-operation">Operation</th>
    <th class="align-left">Vehicle Attributes</th>
    <th class="align-right column-hours">Hours</th>
  </tr>
  <tr>
    <td class="align-left">
      {{ labor.mainOperation.title }}
      <br />
      <span class="font-style-italic">{{ labor.mainOperation.subtitle }}</span>
      <div *ngIf="labor.includedOperations.length > 0">
        <br />
        + Included:
        <div *ngFor="let incOps of labor.includedOperations" style="text-indent: 20px;">
          {{ incOps.title }}
        </div>
      </div>
    </td>
    <td class="align-left">{{ labor.vehicleAttributes }}</td>
    <td class="align-right" id="hours">
      {{ labor.mainOperation.baseAdditionalDescription ? '(' + labor.mainOperation.baseAdditionalDescription + ')' : '' }}
      {{ labor.mainOperation.laborTime | number: '.1-2' }}
      <div *ngIf="labor.mainOperation.addMOTORLaborTime">
        ({{ labor.mainOperation.addAdditionalDescription }}) {{ labor.mainOperation.addMOTORLaborTime | number: '.1-2' }}
      </div>
      <div *ngIf="labor.mainOperation.allMOTORLaborTime">
        ({{ labor.mainOperation.allAdditionalDescription }}) {{ labor.mainOperation.allMOTORLaborTime | number: '.1-2' }}
      </div>
    </td>
  </tr>
</table>
<div *ngIf="labor.notes.length > 0" class="notes-text">
  Notes:
  <span *ngFor="let note of labor.notes">
    {{ note.text }}
  </span>
</div>
<div class="card" *ngIf="labor.isPartsEntitlementActive">
  <div
  class="d-flex justify-content-between card-header"
  (click)="isMainPartsExpanded = !isMainPartsExpanded"
  [attr.aria-expanded]="isMainPartsExpanded"
  aria-controls="collapseExample"
  id="partsHeader"
>
    Parts
    <i [ngClass]="isMainPartsExpanded ? 'icon-arrow-down-thin' : 'icon-arrow-forward-thin'"></i>
  </div>
  <div [ngbCollapse]="!isMainPartsExpanded">
    <div class="card-body">
      <div class="d-print-none" style="display: flex; flex-direction: column; justify-content: space-around; align-items: center;">
        <ng-select
          [items]="(assetsFacade.vehicleParts$ | async)!"
          bindLabel="partDescription"
          [(ngModel)]="assetsFacade.selectedPartItems"
          [multiple]="true"
          [searchFn]="assetsFacade.customSearchFn"
          placeholder="Search parts by Part Number or Description"
          [closeOnSelect]="false"
          [virtualScroll]="true"
          (add)="assetsFacade.onPartSelected()"
        >
          <ng-template ng-option-tmp let-item="item">
            <div style="white-space: normal;">
              <span style="font-weight: 500;">{{ item.partDescription }}</span>
              <span>
                {{ item.partNumber }}
                <i>QTY -</i>
                {{ item.quantity }} {{ item.price }}
              </span>
            </div>
          </ng-template>
        </ng-select>
      </div>
      <div class="helper-text align-right">
        Any parts added are temporary and will not be saved upon exiting screen
      </div>
      <table id="parts" *ngIf="labor.mainOperation.parts.length > 0">
        <tr>
          <th class="align-center column-part-number">Part Number</th>
          <th class="align-left">Description</th>
          <th class="align-center column-qty">QTY</th>
          <th class="align-right column-price">Price</th>
        </tr>
        <tr *ngFor="let part of labor.mainOperation.parts; let i = index">
          <td>
            <span *ngIf="part.isAdded" class="btn icon-trashbin" (click)="assetsFacade.onPartDelete(i)"></span>
            <div class="align-center">{{ part.partNumber }}</div>
          </td>
          <td class="align-left" id="{{ part.partNumber }}">
            {{ part.partDescription }}
          </td>
          <td class="align-center">{{ part.quantity }}</td>
          <td class="align-right">{{ part.price }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<br />
<div *ngIf="labor.optionalOperations.length > 0">
  <table id="optionalOperation" class="labor" style="border: none;">
    <thead>
      <tr>
        <th class="align-left">Optional Operations</th>
        <th class="align-right column-hours">Hours</th>
      </tr>
    </thead>
    <tbody *ngFor="let op of labor.optionalOperations; let i = index">
      <tr>
        <td class="align-left">
          {{ op.title }}
          <br />
          <span class="font-style-italic">
            {{ op.subtitle }}
            <a class="link link-primary text-primary" *ngIf="op.parts.length > 0" (click)="isOptionalPartsExpanded[i] = !isOptionalPartsExpanded[i]">
              {{ isOptionalPartsExpanded[i] ? 'Hide Parts' : 'Show Parts' }}
              <i [ngClass]="isOptionalPartsExpanded[i] ? 'icon-arrow-down-thin' : 'icon-arrow-forward-thin'"></i>
            </a>
          </span>
        </td>
        <td class="align-right column-hours">
          {{ op.baseAdditionalDescription ? '(' + op.baseAdditionalDescription + ')' : '' }} {{ op.laborTime | number: '.1-2' }}
          <div *ngIf="op.addMOTORLaborTime">({{ op.addAdditionalDescription }}) {{ op.addMOTORLaborTime | number: '.1-2' }}</div>
          <div *ngIf="op.allMOTORLaborTime">({{ op.allAdditionalDescription }}) {{ op.allMOTORLaborTime | number: '.1-2' }}</div>
        </td>
      </tr>
      <tr *ngIf="op.parts.length > 0">
        <td colspan="2" style="padding: 0px; border: none !important;">
          <div [ngbCollapse]="!isOptionalPartsExpanded[i]" class="ml-5 mt-1 mb-2">
            <table id="parts">
              <tr>
                <th class="align-center column-part-number">Part Number</th>
                <th class="align-left">Description</th>
                <th class="align-center column-qty">QTY</th>
                <th class="align-right column-price">Price</th>
              </tr>
              <tr *ngFor="let part of op.parts">
                <td class="align-center">{{ part.partNumber }}</td>
                <td class="align-left">{{ part.partDescription }}</td>
                <td class="align-center">{{ part.quantity }}</td>
                <td class="align-right">{{ part.price }}</td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
