<mtr-banner></mtr-banner>
<div style="display: flex;">
  <div style="flex: 1;">
    <mtr-search-form [class.v-hidden]="!(vehicleSelectionFacade.activeVehicleId$ | async)"></mtr-search-form>
  </div>
  <div style="margin-left: auto; padding-top: 15px; padding-right: 20px;">
    <mtr-nav-header *ngIf="(userSettingsService.hamburgerMenuMode$ | async) === 'Enabled'"></mtr-nav-header>
  </div>
</div>

<mtr-filter-tabs [class.v-hidden]="!(vehicleSelectionFacade.activeVehicleId$ | async)"></mtr-filter-tabs>

<div id="contentPanes">
  <div
    id="leftPane"
    class="d-flex flex-column"
    [class.expanded]="(layoutFacade.expansion$ | async) === ExpansionLevel.leftExpanded"
    [class.collapsed]="(layoutFacade.expansion$ | async) === ExpansionLevel.rightExpanded"
  >
    <div class="top-control-container border-right">
      <div class="item">
        <ng-container *ngIf="modelSelector$ | async as selectedVehicle">
          <span class="vehicle-name" *ngIf="(userSettingsService.ymmeSelectorMode$ | async) === 'Link'">
            <a class="icon-vehicle-add" [routerLink]="['/vehicles']"></a>
            <a class="vehicle-detail" [routerLink]="['/vehicles']" title="{{ selectedVehicle }}">
              {{ selectedVehicle }}
            </a>
          </span>
          <span class="vehicle-name" *ngIf="(userSettingsService.ymmeSelectorMode$ | async) === 'Text'">
            <span class="icon-vehicle-add"></span>
            <span class="vehicle-detail" title="{{ selectedVehicle }}">
              {{ selectedVehicle }}
            </span>
          </span>
        </ng-container>
        <ng-container *ngIf="shouldDisplayModelSelector$ | async">
          <label for="modelSelector" class="sr-only">Vehicle Selector</label>
          <select
            id="modelSelector"
            class="form-control text-truncate mx-2"
            [ngModel]="vehicleSelectionFacade.activeVehicleId$ | async"
            (ngModelChange)="vehicleSelectionFacade.setVehicleId($event)"
          >
            <option disabled hidden [ngValue]="undefined">Select Your Model</option>
            <option *ngFor="let vehicle of vehicleSelectionFacade.all$ | async" value="{{ vehicle.id }}">{{ vehicle.model }}</option>
          </select>
        </ng-container>
      </div>
      <div class="item">
        <div
          *ngIf="assetsFacade.hasContentId$ | async"
          [class.icon-collapse-screen]="layoutFacade.isLeftExpanded$ | async"
          [class.icon-full-screen]="!(layoutFacade.isLeftExpanded$ | async)"
          class="left-expand-collapse clickable"
          (click)="layoutFacade.toggleLeftExpandCollapse()"
        ></div>
      </div>
    </div>

    <mtr-search-results-panel *ngFor="let _ of [searchPanelRecreationTrigger$ | async]"></mtr-search-results-panel>
  </div>
  <div id="rightPane">
    <ng-container *ngIf="layoutFacade.isSplashImageVisible$ | async; then splashImage; else articleArea"></ng-container>

    <ng-template #splashImage>
      <div class="d-flex justify-content-center align-items-center p-4 h-100">
        <img id="splashImage" [src]="userSettingsService.splashUrl$ | async" class="mw-100 mh-100" />
      </div>
    </ng-template>

    <ng-template #articleArea>
      <div class="top-control-container border-right">
        <span *ngIf="assetsFacade.isBookmarkOutdated$ | async" class="icon-caution bookmark-msg ml-3 pl-1">
          There is a
          <a id="newerArticleLink" [routerLink]="[]" [queryParams]="{ bookmarkId: null }" queryParamsHandling="merge">
            newer article available.
          </a>
        </span>
        <span *ngIf="assetsFacade.showLicenseMessageForToyota$ | async" class="ml-1 pl-1 copyright">
          {{ assetsFacade.toyotaLicenseMessage }}
        </span>
        <ng-container *ngIf="shouldDisplayEngineSubModelSelector$ | async">
          <label for="modelSelector" class="sr-only">Engine, Submodel Selector</label>
          <select
            id="modelSelector"
            class="form-control text-truncate mx-2 select-highlight is-invalid"
            [ngModel]="vehicleSelectionFacade.motorVehicleId$ | async"
            (ngModelChange)="vehicleSelectionFacade.setMotorVehicleId($event)"
          >
            <option disabled [ngValue]="undefined">Select Your Model</option>
            <option *ngFor="let vehicle of modelDetails$ | async" value="{{ vehicle.id }}">
              {{ vehicle.model }}
            </option>
          </select>
        </ng-container>
        <span *ngIf="isMotorVehicleModel$ | async" class="ml-1 pl-1">{{ motorModelSelector$ | async }}</span>
        <div
          [class.icon-collapse-y-axis]="layoutFacade.isRightExpanded$ | async"
          [class.icon-expand-y-axis]="!(layoutFacade.isRightExpanded$ | async)"
          class="right-expand-collapse clickable"
          (click)="layoutFacade.toggleRightExpandCollapse()"
        ></div>
        <mtr-article-toolbox
          *ngIf="assetsFacade.activeArticleId$ | async"
          class="ml-2 mr-3"
          iframeSelector="#articleContainer iframe"
        ></mtr-article-toolbox>
      </div>
      <div id="articleContainer">
        <mtr-horizontal-circles-loader
          class="align-self-center"
          *ngIf="(assetsFacade.rootLoading$ | async) || IsAwaitingApiResponse; else articleDisplay"
        ></mtr-horizontal-circles-loader>
        <ng-template #articleDisplay>
          <h5 *ngIf="assetsFacade.laborError$ | async as errorMessage" class="no-article-error text-center mx-2 my-5">
            {{ errorMessage['status'] === 404 ? 'Your account has not licensed access to labor data.' : 'Unable to display the requested document.' }}
          </h5>
          <ng-container *ngIf="assetsFacade.labor$ | async as labor">
            <mtr-labor-operation class="h-100" [labor]="labor"></mtr-labor-operation>
          </ng-container>
          <mtr-maintenance-schedules
            *ngIf="(assetsFacade.isMaintenanceScheduleTab$ | async) && !(shouldDisplayEngineSubModelSelector$ | async)"
          ></mtr-maintenance-schedules>
          <mtr-dynamic-article-html
            *ngIf="((assetsFacade.rootHtml$ | async) && !(assetsFacade.rootHtmlIsFullPage$ | async)) || (assetsFacade.rootError$ | async)"
            class="h-100 article-{{ vehicleSelectionFacade.contentSource$ | async }}"
            [html$]="assetsFacade.rootHtml$"
            [error$]="assetsFacade.rootError$"
          ></mtr-dynamic-article-html>
          <mtr-dynamic-article-html-iframe
            *ngIf="assetsFacade.rootHtmlIsFullPage$ | async"
            class="h-100"
            [html$]="assetsFacade.rootHtml$"
          ></mtr-dynamic-article-html-iframe>
          <ngx-extended-pdf-viewer
            *ngIf="assetsFacade.base64Pdf$ | async"
            [base64Src]="(assetsFacade.base64Pdf$ | async)!"
            [useBrowserLocale]="true"
            [showDownloadButton]="false"
            [showOpenFileButton]="false"
            [showPropertiesButton]="false"
            [showRotateButton]="false"
            [showSecondaryToolbarButton]="false"
            [textLayer]="true"
            [showPrintButton]="!detectMobile()"
            [showDownloadButton]="detectMobile()"
          ></ngx-extended-pdf-viewer>
        </ng-template>
      </div>
    </ng-template>
  </div>
</div>

<mtr-article-modal *ngIf="assetsFacade.hasBreadcrumb$ | async"></mtr-article-modal>

<div *ngIf="searchResultsFacade.displayRestrictedContentAlert$ | async as geoBlockStatus">
  <mtr-geo-blocking-modal [geoBlockStatus]="geoBlockStatus"></mtr-geo-blocking-modal>
</div>
